<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="./css/selected.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/jquery-3.2.0.min.js"></script>
	<title>知途教育</title>
</head>
<body>
	<div id="app">
		<div class="main">
			<div v-if="list" class="head" v-for="(item,index) in list" >
				<div v-text="grade"class="left" @click="showGrade" :class="isShowGrade ? 'selected' : ''"><span></span></div>
				<div v-text="subject" class="left" @click="showSubject" :class="isShowSubject ? 'selected' : ''"><span></span></div>
				<div v-text="teacherType"class="left" @click="showType" :class="isShowType ? 'selected' : ''"></div>
			</div>
			<div class="list">
				<div class="teacher-lists">
	    			<div v-for=" item in teacherList" class="teacher-infor">
	    			    <a :href="'infor.html?id='+ item.id">
		    				<img :src="item.image">
		    				<div class="teacher-details">
		    					<p class="details">
		    						<span class="name">{{ item.name }}</span>
		    						<span class="sub" v-for="it in item.subject">{{ it.label }}</span>
		    						<span class="grade" v-for="it in item.grade">{{ it.label }}</span>
		    						<span class="times">授课{{ item.teach_time }}小时</span>
		    					</p>
		    					<p class="teach-age">
		    						<span class="t-age">{{ item.teach_year }}年教龄</span>
		    					</p>
		    					<p class="kind">
		    						<span class="t-kind" v-for="it in item.type">{{ it.label }}</span>
		    					</p>
		    				</div>
	    			    </a>
	    			</div>
	    		</div>
			</div>
			<div v-if="condition" class="gray"v-show="isshow" @click="closeGray">
				<div class="tar">
					<span v-text="it.label" v-for="it in condition.grade" v-show="isShowGrade" @click="clickOption(it)" :class="it.isSelected ? 'selected' : ''"></span>
					<span v-text="it.label" v-for="it in condition.subject" v-show="isShowSubject" @click="clickOption(it)" :class="it.isSelected ? 'selected' : ''"></span>
					<span v-text="it.label" v-for="it in condition.type" v-show="isShowType" @click="clickOption(it)" :class="it.isSelected ? 'selected' : ''"></span>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./js/selected.js"></script>
</body>
</html>